html,
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: cadetblue;
}

.title {
  padding: 50px 25px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

img {
  display: block;
}

@media (min-width: 960px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  .image-container {
    /* Landscape image for viewport width less than 960px */
    background-image: url(path-to-landscape-image.jpg);
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 960px) and (orientation: square){

  .image{ width: 100%; /* Make the image fill the container horizontally */
    height: auto; /* Maintain the image's aspect ratio */}
    
  .image-container {
    /* Square image for viewport width 960px or larger */
    background-image: url(path-to-square-image.jpg);
    background-size: cover;
    background-position:center;
      width: 50vw; /* Set container width to 50% of viewport width */
      height: 50vw; /* Set container height to 50% of viewport width */
      max-width: 50vh; /* Set maximum container width to 50% of viewport height */
      max-height: 50vh; /* Set maximum container height to 50% of viewport height */
      margin: 0 auto; /* Center the container horizontally */
      display: flex;
      justify-content: center; /* Center the image horizontally within the container */
      align-items: center; /* Center the image vertically within the container */
      
     
      
    }
  }

